.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.table {
    background-color: white;
    width: 80%;
    border-collapse: collapse;
    color: black;
    font-weight: thin;
    border-radius: 10px;
    overflow: hidden;
}

.table tbody {
    border-bottom: 5px #009879 solid;
}

.table th,
.table td {
    padding: 12px 15px;
}

.table thead {
    text-align: left;
    background-color: #009879;
    color: white;
    border-radius: 10px;
}

.table tr {
    border-bottom: thin solid #dfdfdf;
}

.table tr:last-of-type {
    border-bottom: none;
}

.table tbody tr:hover {
    background-color: #f3f3f3 !important;
    color: #188873;
    /* font-weight: bold; */
}

.table tbody :global(.selected-row),
.table tbody :global(.selected-row):hover {
    background-color: #009879 !important;
    color: white !important;
}

.table tr:nth-child(even) {
    background-color: #f3f3f3;
}
