[data-theme="dark-sand"] {
    /* color scheme */
    --colors-a-tag-hover: #8ca98b;
    --colors-a-tag: #c4d6c3;
    --colors-background: #2e2b26;
    --colors-font-inverse: #1b1a17;
    --colors-font: #f5f5f5;
    --colors-neutral: #e5dfce;
    --colors-on-neutral: var(--colors-font-inverse);
    --colors-primary: #fcba74;
    --colors-secondary-surface: #585343;
    --colors-shadow: #1b1a17;
    --colors-surface: #1b1a17;
    --colors-surface-high-contrast: #1b1a17;
}
