@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

:root {
  --resume-font-decorative: "Roboto Slab", Arial, Helvetica, "Noto Sans Devanagari", "Noto Sans CJK SC Thin", "Noto Sans SC", "Noto Sans Hebrew", "Noto Sans Bengali", sans-serif;
  --resume-font-normal: "Open Sans", Arial, Helvetica, "Noto Sans Devanagari", "Noto Sans CJK SC Thin", "Noto Sans SC", "Noto Sans Hebrew", "Noto Sans Bengali", sans-serif;

  --resume-color-paper-background: var(--colors-paper-background);
  --resume-color-text: var(--colors-paper-text);
  --resume-color-text-primary: var(--colors-paper-text-primary);
  --resume-color-text-secondary: var(--colors-paper-text-secondary);
  --resume-color-icon: var(--colors-paper-icon);
  --resume-color-text-accented: var(--colors-paper-text-accented);
  --resume-color-paper-shadow: var(--colors-paper-shadow);

  --resume-margin-x: 0.5in;
  --resume-margin-y: 0.5in;
}