:root {
  /* constants */
  --border-radius: 5px;
  --nav-height: 60px;
  --transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);

  /* color */
  --dark-brown: #595341; /* #694d3e; */
  --darker-brown: #3c372b;
  --darkerer-brown: #191d15;
  --light-grey: #b2b3b0;
  --white: #ffffff;
  --gold: #ffffff;

  /* component-color */
  --background-color: var(--dark-brown);
  --font-color: var(--white); /* #f7f6e8; */
  --font-color-inverse: var(--darkerer-brown);
  --a-tag-color: #D3CFD2;
  --a-tag-hover-color: #AEA4AC;
  --gold-accent: #ffa13f; /* #e9bf70; */
  --accordion-header-color: var(--darker-brown);
  --accordion-content-background-color: var(--darkerer-brown);
  --text-bubble-background-color: var(--light-grey); /* #9c937a; */
  --text-bubble-text-color: var(--font-color-inverse);
  --project-grid-project-background-color: var(--darkerer-brown);

  --project-image-transition: all cubic-bezier(.4,0,.2,1) .4s;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  color: var(--font-color);
}

section {
  max-width: 1000px;
}

a:hover {
  color: var(--a-tag-hover-color);
  text-decoration: none;
}

a {
  color:var(--a-tag-color);
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h3 {
  margin-top: 0;
  margin-bottom: 0;
}