:root {
  /* constants */
  --border-radius: 5px;
  --nav-height: 60px;
  --transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);;

  /* color */
  --background-color: #4b382c;
  --font-color: #f7f6e8;
  --a-tag-color: #D3CFD2;
  --a-tag-hover-color: #AEA4AC;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  color: var(--font-color);
}

section {
  max-width: 1000px;
}

a:hover {
  color: var(--a-tag-hover-color);
  text-decoration: none;
}

a {
  color:var(--a-tag-color);
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
